<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("http://teespring-storecontent.s3.amazonaws.com/A6CgzF4GDRwUwcb1f3mKCg_store_banner_image?1486130416115");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
        <nav class="navbar  navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
                <img src="https://img.icons8.com/color/48/000000/us-navy.png">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a style="font-family: 'Roboto Slab', serif;" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a style="font-family: 'Roboto Slab', serif;" class="nav-link" href="/register">Register<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a style="font-family: 'Roboto Slab', serif;" class="nav-link" href="/orders/new">Submit an Order<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                            <a style="font-family: 'Roboto Slab', serif;" class="nav-link" href="/orders">My Orders<span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        <div class="bg"></div>

<% include ./partials/footer %>