<% include ./partials/header %>


<div class="container">
    <div class="row">
        
        <div style="width:40%; margin: 20px auto">
            
            <h1 style="text-align: left">
                    <img src="https://img.icons8.com/ios/50/000000/user-filled.png">
                Register Here
            </h1>
            
            <form action = "/register" method="POST">

		<div class="form-group">
                    <input class="form-control" type="text" name="firstname" placeholder="Firstname"></input>
                </div>

		<div class="form-group">
                    <input class="form-control" type="text" name="lastname" placeholder="Lastname"></input>
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="your email"></input>
                </div>    
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password"></input>
                </div>    
                
		
		
                
                <div class="form-group">
                    <button class="btn btn-lg btn-dark btn-block">Sign Up</button>
                </div>
                
            </form>
            
            
        </div>
        
    </div>
    
</div>

<% include ./partials/footer %>
